:root {
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;

  /* Center horizontally */
  justify-content: center;

  /* Center vertically */
  align-items: center;

  min-height: 100vh;
}